<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" c
    rossorigin="anonymous"></script>

</head>

<body>
  <%- include("navbar.ejs") %>

  <div class="container content-row" id="maindiv">
      <div class="card shadow">
          <img src="/images/femida.jpg" class="card-img-top">
          <div class="card-body">
            <p>
                В повседневной жизни мы часто сталкиваемся с обстоятельствами, когда нам нужно знать свои права. Например, в магазине случайно задел бутылку, которая впоследствии разбилась. Должен ли ты оплатить товар? Прав ли администратор магазина, который пугает полицией? В любой неоднозначной ситуации следует опираться на закон, который един для всех. Знание закона поможет отстоять свои права и найти выход из сложной ситуации.
            </p>
            <p>
                В данном проекте мы собрали информацию, которая не только расширит кругозор подрастающего поколения, но и будет полезна в разных жизненных обстоятельствах.
            </p>
          </div>
      </div>
  </div>
  
  <%- include("footer.ejs") %>
</body>
