<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" c
    rossorigin="anonymous"></script>

    <style>
      .card {
        margin: 1rem;
      }
      @media (max-width: 575.98px) {
        .card-columns {
          column-count: 1;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .card-columns {
          column-count: 2;
        }
      }
      @media (min-width: 768px) and (max-width: 1199px) {
        .card-columns {
          column-count: 4;
        }
      }

      @media (min-width: 1200px) {
          .card-columns {
          column-count: 4;
        }
      }
    </style>
</head>

<body>
  <%- include("navbar.ejs") %>

  <div class="container content-row">
    <div class="card-columns">
      <% command.forEach((val) => { %>
      <div class="card shadow" style="width: 500;">
        <img src="/command/<%=val.id %>/avatar.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%=val.name %> <%=val.surname %></h5>
          <p class="card-text"><%=val.role %></p>
        </div>
      </div>
      <% }) %>
    </div>

    <%- include("footer.ejs") %>
</body>