<footer class="page-footer font-small white navbar-fixed-bottom">
    <!-- Copyright-->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://vk.com/iskanderslavenet ">Александр Бабиков</a>
    </div>
  </footer>