<!--<style>
  /* Set a background image by replacing the URL below */
  body {
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
</style>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded navbar-fixed-top">
    <a class="navbar-brand" href="#">Основы права Российской Федерации</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/">Видео<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/lections">Лекции</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/command">Об авторах</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/about">О проекте</a>
          </li>
      </ul>
    </div>
  </nav>