<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" c
    rossorigin="anonymous"></script>

</head>

<body>
    <%- include("navbar.ejs") %>

    <div class="container content-row" id="maindiv">
        <div class="card-columns">
          <% videos.forEach((val) => { %>
            <div class="card text-center shadow">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src= "/videos/<%=val.videoId %>/preview.jpg" class="card-img-top embed-responsive-item">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%=val.name %></h5>
                    <p class="card-text"><%=val.description %></p>
                    <a class="btn btn-primary stretched-link hidden" href="http://localhost:3000/videos/<%=val.videoId %>">Смотреть видео</a>
                </div>
            </div>
        <% }) %>
    </div>
    
    <%- include("footer.ejs") %>
</body>