<p>
	Будущее нашего государства, как и мира в целом, зависит от молодого поколения, которое еще не до конца осознает этого. На данный момент, юные граждане, не достигшие совершеннолетия, являются одной из самых незащищенных социальных групп общества, которая еще не в силах полноценно отстаивать свои права. Важность и необходимость особой юридической защиты несовершеннолетних (лицо в возрасте до 18 лет) связана с тем, что ребенок в связи с его умственной и физической незрелостью нуждается в помощи и поддержке взрослых. Кроме того, дети постоянно проверяют как свои возможности, так и возможности окружающего их мира, и кто как ни подготовленный взрослый в нужный час сможет подсказать, что можно, а что нельзя делать, какие права и обязанности появляются с взрослением, какая наступает ответственность за нарушение установленных в обществе правил. К тому же, развитие гражданского общества зависит от правовой культуры населения, особенно это касается молодого поколения, от которого и зависит будущее нашей страны. Несмотря на развитость современных информационных технологий, сегодня остается актуальной проблема слабой правовой информированности и правовой безграмотности молодежи. Незнание и неуважение законов, не владение элементарными знаниями о своих конституционных правах и, отсюда, неумение их отстаивать и защищать — все это приводит к негативным последствиям (недоверие к власти, социальная напряженность и т. д.).
</p>

<p>
	В связи с этим актуальным условием для формирования правовых убеждений является создание возможности при помощи агентов социализации (семья, школа, вузы, государство) изучать право.
</p>

<p>
	Правовое воспитание молодежи - сложная и многоуровневая деятельность. Правовое воспитание должно начинаться с раннего возраста. Школа и другие виды учебных заведений должны стать агитаторами участия молодежи в общественной жизни, формировать у обучающихся чувство ответственности, долга, а также потребность иметь свою точку зрения и умение ее выражать. Именно поэтому мы решили сделать объектом нашего проекта школы, а именно 7-9 классы.
</p>

<p>
	Правовая грамотность поможет молодежи в существующих информационных потоках и даст возможность сделать правильный гражданский выбор. Низкая правовая грамотность среди молодежи России приводит к росту социальной напряженности, которая выражается в острых политических и социальных конфликтах. Правовое воспитание и образование молодежи - путь к экономическому, политическому и нравственно-духовному процветанию Российской Федерации.
</p>

<p>
	Актуальность правового воспитания на современном уровне объясняется особенностями современного развития общества. Каждый из нас встречается с такими жизненными ситуациями, которые требуют знания юридических норм.
</p>

<p>
	Такие знания особенно необходимы для несовершеннолетних, поскольку очень часто из-за правовой безграмотности они становятся как преступниками, так и жертвами преступлений. Другими словами, профилактический потенциал права необходимо как можно быстрее повернуть лицом к несовершеннолетним. Особую обеспокоенность вызывает распространенность наркомании среди подростков. Практически нерешенной остается проблема предупреждения правонарушений несовершеннолетних. Все это требует внимательного подхода к работе по повышению правовой культуры детей и юношества.
</p>

<p>
	Начинать правовое обучение, как уже говорилось ранее, необходимо с раннего школьного возраста. С самых первых шагов, которые ребенок делает самостоятельно, выбирая способы поведения, знание норм права должно оказывать ему помощь. В настоящее время рост подростковой преступности тревожит многих родителей, педагогов, юристов, общественность. Вот почему социальная профилактика этого явления должна занимать ведущее место в деятельности различных государственных и общественных организаций.
</p>

<p>
	Одним из главных структурных звеньев в этом направлении является общеобразовательное учреждение - школа. В традиционной методике правового воспитания (на уроках обществознания) подростков в общеобразовательных учреждениях есть свои положительные результаты, но следует понимать, что стремительно изменяющееся мировое информационное пространство требует введения новых технологий и методик в образовательный процесс – например, открытые уроки с юристами. Особое внимание в профилактической работе должно уделяться формированию правовой культуры подростков.
</p>

<p>
	Прежде, чем вести профилактическую работу, необходимо выявить причины подростковой преступности или правонарушений подростков, психолого-педагогические особенности несовершеннолетних правонарушений. К 10-12 годам у подростка на основе восприятия формируются суждения по принципу «что такое хорошо и что такое плохо». Откуда они берутся? От бабушки, мамы, папы, из детской литературы и не всегда хороших кино- и видеофильмов. И, конечно же, от цепочки значимых для подростка бытовых ситуаций, которые непрерывно идут через его сознание. К 14-16 годам на основе суждений у подростков возникают убеждения. Подросток убежден в правильном знании и понимании того, что для него хорошо и что для него и окружающих плохо.
</p>

<p>
	Убеждения - это уже позиция. Подросток спорит, выражает и отстаивает свою точку зрения. У него в зависимости от собственных представлений формируется шкала социальных ценностей и предпочтений, в соответствии с которыми складываются круг друзей, стиль поведения, внешний облик. Лишь к 18-20 годам на основе суждений и убеждений возникает мировоззрение. Система взглядов, воззрений на природу и общество в значительной степени определяют жизненный путь молодого человека.
</p>

<p>
	Правовое воспитание подростков предусматривает комплексную, систематическую работу по правовому просвещению и воспитанию поколения. К реализации работы должны привлекаться правоохранительные органы, юристы, общественные и молодёжные организации, психологи и педагоги. В нашем проекте в качестве «учителей», делящихся опытом и знаниями предполагается участие молодежи – студентов Санкт-Петербургского политехнического университета – мы полагаем, что именно студенты, не имеющие большой разницы в возрасте с обучающимися и отлично понимающие современные молодежные тенденции, смогут быстро найти подход к школьникам и стать для них наставниками в их обучении.
</p>

<p>
	За последние десять лет большинство россиян убедились, что в современном обществе каждому из нас просто необходима правовая компетентность или правовая грамотность. Но если это необходимо взрослым, следовательно, и подросток должен быть осведомлен об основных правовых нормах. Естественно, правовое обучение должно проходить в доступной для данного возраста форме, а главное – аргументировано (конкретные статьи законов, примеры из судебной практики, исполнение наказания за проступки известных данной подростковой аудитории граждан и т.д.).
</p>

<p>
	Практика показывает, что человек, владеющий юридической информацией и хорошо знакомый с типичными моделями поведения в экстремальных ситуациях, имеет гораздо меньше шансов нарушить закон и понести ответственность, а главное, сможет защитить себя и своих близких.
</p>









