<p>
	Дорогие друзья! Вам ещё не исполнилось 18 лет, значит вы — несовершеннолетние.
</p>

<p>
	Ваши права закреплены в Конституции РФ, в других законах Российской Федерации. А также в международном документе — Конвенции ООН о правах ребенка.
</p>

<p>
	Но вы должны знать, что кроме прав у вас есть обязанность — соблюдать законы. Вы будете успешными, если будете юридически грамотными и законопослушными гражданами.
</p>

<p>
	Как все граждане нашей страны, вы несете ответственность за нарушение прав других людей и совершение противозаконных поступков. За нарушение или неисполнение законов вы можете быть привлечены к ответственности:
</p>

<ul>
	<li>
		уголовной;
	</li>
	<li>
		административной;
	</li>
	<li>
		гражданской;
	</li>
	<li>
		дисциплинарной.
	</li>
</ul>

Не нарушайте законов! Но если так случилось, что вы оступились - не опускайте руки, исправляйте ошибки. В этом вам помогут знания законов

<p>
	<h5>
		ОСНОВНЫЕ ПОНЯТИЯ
	</h5>
</p>
<ul>
	<li>
		УГОЛОВНЫЙ КОДЕКС (УК РФ) — это закон, который определяет, какие действия человека являются преступными, и устанавливает наказания за них
	</li>
	<li>
		КОДЕКС РОССИЙСКОЙ ФЕДЕРАЦИИ ОБ АДМИНИСТРАТИВНЫХ ПРАВОНАРУШЕНИЯХ (КОАП РФ) — это закон, о правилах поведения людей в обществе и ответственности за нарушение общественного порядка.
	</li>
	<li>
		ГРАЖДАНСКИЙ КОДЕКС (ГК РФ) — это закон о личных, семейных, хозяйственных отношениях людей, о собственности, сделках, наследстве
	</li>
</ul>

Однако если такие нарушения допускают учащиеся, которым к моменту совершения нарушений не исполнилось 14 лет, исключить их из образовательного учреждения нельзя.

<p>
	<h5>
		УГОЛОВНАЯ ОТВЕТСТВЕННОСТЬ НЕСОВЕРШЕННОЛЕТНИХ
	</h5>
</p>

Уголовная ответственность — это самый строгий вид ответственности. Она наступает за совершение преступлений.

<p>
	В Уголовном кодексе РФ есть специальный раздел «Уголовная ответственность несовершеннолетних», в котором учтена специфика твоей возрастной группы.
</p>

<p>
	Полная уголовная ответственность наступает с 16 лет. Но за некоторые виды преступлений (кража, грабеж, разбой, вымогательство, угон автомобиля и некоторые другие) уголовная ответственность наступает уже с 14 лет.
</p>

<p>
	На стадии проверки, если вы можете иметь отношение к преступлению, вас могут опросить. Если уголовное дело уже возбуждено и начато расследование, вас могут вызвать на допрос, который должен проводиться ПО СЛЕДУЮЩИМ ПРАВИЛАМ:
</p>

<p>
	В Уголовном кодексе РФ есть специальный раздел «Уголовная ответственность несовершеннолетних», в котором учтена специфика твоей возрастной группы.
</p>


<ol>
	<li>
		Если вы являетесь свидетелем или потерпевшим и вам менее 14 лет, должен присутствовать педагог, и могут присутствовать ваши законные представители обратиться в суд с иском к несовершеннолетнему и/или законным представителям.
		<p></p>
		До достижения ребенком 18 лет в суде по гражданским делам интересы несовершеннолетнего должны представлять законные представители. В гражданском процессе не предусмотрено мер пресечения, задержания или иных принудительных мер.
	</li>
	<li>
		На допросе вы обязаны говорить только правду. Если вам 16 лет и больше, за дачу заведомо ложных показаний или отказ от дачи показаний вы можете быть привлечены к уголовной ответственности, о чем вас предупредят в начале допроса.
	</li>
	<li>
		Если вы подозреваетесь или обвиняетесь в совершении преступления, в допросе обязательно должен участвовать защитник. Если вам нет 16 лет, обязательно участие в допросе педагога или психолога. Ваши законные представители также могут присутствовать при допросе или других следственных действиях на основании постановления следователя об их допуске. Вызвать вас на допрос могут только через законных представителей. Участие защитника обязательно должно быть обеспечено (ст.48 Конституции РФ), а участие ваших родителей должно быть обеспечено по их требованию.
	</li>
	<li>
		Вы можете быть задержаны, если:
		<ul>
			<li>
				подозреваетесь в совершении преступления, за которое может быть назначено наказание в виде лишения свободы
			</li>
			<li>
				застигнуты на месте преступления или сразу после его совершения;
			</li>
			<li>
				на вас укажут потерпевшие или очевидцы преступления,
			</li>
			<li>
				у вас будут обнаружены явные следы преступления, а также в некоторых других случаях, например, если не установлена ваша личность.
			</li>
		</ul>
	</li>
	<li>
		О задержании должны немедленно уведомляться ваши законные представители.
	</li>
	<li>
		При задержании вы имеете право на телефонный звонок.
	</li>
	<li>
		С момента задержания вы имеете право требовать предоставления защитника (адвоката).
	</li>
	<li>
		Вам сразу должны разъяснить, на каком основании и по какому подозрению вы задерживаетесь. В течение 3 часов должен быть составлен протокол задержания, который вам следует внимательно прочитать и подписать, если в нем все указано верно. Если вы не согласен с тем, что указано в протоколе у вас есть право написать свои замечания, уточнения, дополнения, заверив их подписью
	</li>
	<li>
		Задержать вас могут на срок не более 48 часов (этот срок может быть продлен до 72 часов, если необходим сбор дополнительных доказательств) (ст.22 Конституции РФ, 108 УК РФ). Арест, заключение под стражу и содержание под стражей допускаются только по судебному решению. До судебного решения лицо не может быть подвергнуто задержанию на срок более 48 часов (статья 22 Конституции РФ, ст.5 УПК РФ), после чего должны либо отпустить, либо на основании постановления судьи заключить под стражу, что допускается только по подозрению в совершении тяжкого и особо тяжкого преступления.
	</li>
	<li>
		До начала допроса по вашей просьбе должно быть обеспечено право на свидание с защитником наедине.
	</li>
</ol>

<strong>
	ПОМНИТЕ! Уголовная и гражданская ответственности за одно и то же правонарушение могут наступать вместе (к примеру, лишение свободы и возмещение вреда (денежная компенсация) потерпевшему). Также могут вместе наступать административная и гражданская ответственности
</strong>

<p>
	Вы должны знать — за нарушение Закона обязательно последует наказание.
</p>

<p>
	Для несовершеннолетних предусмотрено всего шесть видов уголовного наказания (ст. 88 УК РФ):
</p>

<ul>
	<li>
		штраф, назначается не только при наличии у несовершеннолетнего осужденного самостоятельного заработка или имущества, на которое может быть обращено взыскание, но и при отсутствии таковых, тогда штраф может быть взыскан с родителей или других законных представителей.
	</li>
	<li>
		обязательные работы, заключаются в выполнении работ посильных для несовершеннолетнего, и исполняются им в свободное от учебы или основной работы время (ч. 3 ст.88 УК РФ), назначаются на срок от 40 до 160 час,
	</li>
	<li>
		исправительные работы назначаются несовершеннолетним осужденным на срок до 1 года. Это наказание применяется только к работающим несовершеннолетним.
	</li>
	<li>
		арест (ст. 88 УК РФ), назначается несовершеннолетним, достигшим возраста 16 лет, на срок от 1 до 4 месяцев.
	</li>
	<li>
		лишение свободы на определенный срок (не свыше 10 лет), назначается только тогда, когда исправление и перевоспитание несовершеннолетнего невозможно без изоляции от общества.
	</li>
</ul>

<h5>
	АДМИНИСТРАТИВНАЯ ОТВЕТСТВЕННОСТЬ НЕСОВЕРШЕННОЛЕТНИХ
</h5>

<p>
	Административная ответственность наступает за правонарушения, которые не подлежат уголовной ответственности.
</p>

<p>
	Согласно ст.2.3. Кодексу Российской Федерации об административных правонарушениях, административной ответственности подлежат лица, достигшие к моменту совершения административного правонарушения возраста 16 лет.
</p>

<p>
	Административный кодекс определяет перечень таких нарушений:
</p>

<ul>
	<li>
		мелкое хищение;
	</li>
	<li>
		нарушение правил дорожного движения пешеходами и иными участниками дорожного движения;
	</li>
	<li>
		управление транспортными средствами лицами, не имеющими на это права;
	</li>
	<li>
		мелкое хулиганство;
	</li>
	<li>
		распитие пива, алкогольной и спиртосодержащей продукции, потребление наркотических средств;
	</li>
	<li>
		появление в общественных местах в состоянии опьянения;
	</li>
	<li>
		злостное неповиновение законному распоряжению или требованию работников милиции и т.д.
	</li>
</ul>

Однако если на момент совершения правонарушения вам не исполнилось 16 лет, административную ответственность будут нести законные представители (родители, усыновители, опекуны, попечители, приемные родители, органы опеки и попечительства и иные определенные действующим законодательством представители).

<h5>
	ГРАЖДАНСКО-ПРАВОВАЯ ОТВЕТСТВЕННОСТЬ НЕСОВЕРШЕННОЛЕТНИХ
</h5>

<p>
	Гражданско-правовая ответственность наступает за причинение имущественного вреда кому-либо или причинение вреда здоровью, чести и достоинству и т.д. Гражданско-правовая ответственность — это имущественное (как правило, денежное) возмещение вреда пострадавшему лицу. Даже если вред причинен чьему-либо здоровью или оскорблена чья-то честь и достоинство, компенсировать вред нужно будет в виде определенной денежной суммы.
</p>

<p>
	Статья 1073 Гражданского кодекса РФ (ГК РФ) устанавливает, что за вред, причиненный несовершеннолетним, не достигшим 14 лет (малолетним), отвечают его родители (усыновители) или опекуны.
</p>

<p>
	Несовершеннолетние от 14 до 18 лет, согласно ст. 1074 Гражданского кодекса РФ, несут ответственность за причиненный вред на общих основаниях.
</p>

<p>
	В случае, когда у несовершеннолетнего в возрасте от четырнадцати до восемнадцати лет нет доходов или иного имущества, достаточных для возмещения вреда, вред должен быть возмещен полностью или в недостающей части его родителями (усыновителями) или попечителем.
</p>

<h5>
	ПОРЯДОК ПРИВЛЕЧЕНИЯ К ГРАЖДАНСКО-ПРАВОВОЙ ОТВЕТСТВЕННОСТИ
</h5>

К гражданской ответственности несовершеннолетний привлекается по решению суда. Это значит, что если несовершеннолетний и его законные представители не хотят добровольно возместить ущерб пострадавшему, он может обратиться в суд с иском к несовершеннолетнему и/или законным представителям.

<h5>
	ИНЫЕ МЕРЫ, ПРИМЕНЯЕМЫЕ К НЕСОВЕРШЕННОЛЕТНИМ
</h5>

<p>
Кроме перечисленных есть и иные меры, применяемые к несовершеннолетним: если несовершеннолетний в возрасте 11 лет и старше совершил уголовно наказуемое деяние, но еще не достиг возраста уголовной ответственности, либо осужден за совершение преступления средней тяжести и освобожден судом от наказания, он может быть помещен в специальное учебно-воспитательное учреждение закрытого типа.



</p>

<p>
	Ещё одной мерой, применяемой к несовершеннолетним, является исключение из образовательного учреждения (школы, училища и т.д.). В соответствии с действующим законодательством исключить несовершеннолетнего из образовательного учреждения возможно за совершение противоправных действий и за грубые и неоднократные нарушения устава образовательного учреждения с согласия комиссии по делам несовершеннолетних и защите их прав.
</p>

<p>
	Пожалуйста, соблюдайте законы!
</p>

<p>
	Использованные источники:
</p>

<ol>
	<li>
		Конституция РФ
	</li>
	<li>
		Уголовный кодекс РФ
	</li>
	<li>
		Кодекс Российской Федерации об административных правонарушениях
	</li>
	<li>
		Гражданский кодекс РФ
	</li>
</ol>