<p>
	Существуют законодательные нормативы, которые строго регулируют трудовую деятельность подростков. Это необходимо для того, чтобы предотвратить отрицательное влияние производства на здоровье, моральное и психическое состояние ребенка.
</p>

<p>
	По общему правилу подросток может работать с 16 лет. Однако законом предусмотрено заключение трудового договора с 14 лет
</p>

<p>
	Основные трудовые права граждан Российской Федерации, не достигших восемнадцатилетнего возраста, предусмотрены в статье 37 Конституции РФ. Несовершеннолетние граждане имеют законное право на реализацию своих возможностей, способностей, трудового потенциала, а также на обеспечение работодателем безопасных условий для работы, на оплату труда, защиту своих прав и интересов и полноценный отдых.
</p>

<strong>
	В каком возрасте подросток может начать работать?
</strong>

<p>
	По законодательству подросток может осуществлять трудовую деятельность, начиная с шестнадцати лет.
</p>

<p>
	Однако в некоторых случаях, если в этом есть необходимость, законом предусмотрено заключение трудового договора между работодателем и гражданином в более раннем возрасте:
</p>

<ul>
	<li>
		с пятнадцати лет, если на момент заключения договора ребенок уже закончил школу
	</li>
	<li>
		с четырнадцати лет при наличии письменного согласия родителей или лиц, их заменяющих
	</li>
</ul>

<p>
	С 14 лет для подростка предусмотрен легкий труд, который не несет в себе опасности для здоровья или жизни, при условии, что у ребенка есть возможность совмещать работу с учебой.
</p>

<strong>
	Документы, необходимые подростку для оформления на работу
</strong>

<p>При устройстве на работу подросток обязан представить работодателю следующие документы</p>

<ul>
	<li>
		Заявление в письменном виде. Если ребенку четырнадцать или пятнадцать лет, то в заявлении должно быть согласие одного из родителей или лица, его заменяющего, на осуществление подростком трудовой деятельности. Родитель может поставить на заявлении подпись с датой и подтверждением, что он не возражает против осуществления ребенком трудовой деятельности или собственноручно заявить об этом;	</li>
	<li>
		Справка с места жительства. Справкой может послужить выписка из домовой книги;
	</li>
	<li>
		Документы, удостоверяющие личность (свидетельство о рождении или паспорт);
	</li>
	<li>
		Медицинская справка о состоянии здоровья, утвержденная Министерством здравоохранения;
	</li>
	<li>
		Документ из образовательного учреждения, которое подросток оканчивал или оканчивает. Это может быть справка из учебного заведения, где учится подросток, о том, что он является учеником или студентом
	</li>
	<li>
		Документ о квалификации и специальных знаниях в случае, когда такой документ необходим при приеме на работу. Таким документом, например, может быть свидетельство о повышении квалификации или о прохождении специальных курсов.
	</li>
</ul>

<p>Стоит обратить внимание, что детям до 18 лет при устройстве на работу необходим обязательный медицинский осмотр. Его должен оплачивать работодатель.</p>
<p>Также в обязанности работодателя входит:</p>
<ul>
	<li>
		обязательное заключение письменного договора с молодым сотрудником. В договоре подробно излагаются права и обязанности каждой из сторон, в том числе нормативы, прописанные в статьях 21 и 22 Трудового Кодекса Российской Федерации;
	</li>
	<li>
		оформление подростку страхового свидетельства;
	</li>
	<li>
		заведение и оформление трудовой книжки.
	</li>
</ul>

<strong>Льготы и ограничения для подростков при устройстве на работу</strong>

<p>Для детей до 18 лет, которые хотят начать трудовую деятельность, в законодательстве предусмотрены определенные льготы и ограничения.</p>

<strong>

</strong>

<strong>
	1. Сокращение рабочего времени
</strong>
Подростки имеют право на предоставление сокращенного рабочего времени: лица, не достигшие шестнадцатилетнего возраста, могут работать не больше 24 часов за неделю. От 16 до 18 лет эта норма составляет 35 часов в неделю
<p></p>
<strong>
	2. Запрет на работу с тяжелыми предметам
</strong>

<p></p>
<strong>
	а) Подъем и перемещение вручную груза постоянно в течение рабочей смены:
</strong>

<ul>
	<li>
		для юношей 14–15 лет груз не должен превышать 3 килограммов, для 16–17-летних — 4 килограммов;
	</li>
	<li>
		для девушек 14–15 лет — не более 2 килограммов, 16–17 лет — не более 3 килограммов.
	</li>
</ul>

Работодатель не имеет права обязать несовершеннолетнего
<p></p>
<strong>
	б) Подъем и перемещение груза вручную в течение не более 1/3 рабочей смены:
</strong>

<ul>
	<li>
		более двух раз в час;
	</li>
	<li>
		для юношей 14 лет не должно превышать 6 килограммов, 15 лет — 7 килограммов, 16 лет — 11 килограммов, 17 лет — 13 килограммов;
	</li>
	<li>
		для девушек 14 лет — не более 3 килограммов, 15 лет — 4 килограммов, 16 лет — 5 килограммов, 17 лет — 6 килограммов
	</li>
</ul>

<p>
	Несовершеннолетний вправе обратиться в комиссию по трудовым спорам, инспекцию по труду, прокуратуру или суд, если он считает, что его права нарушены
</p>
<p>
	При чередовании с другой работой (до двух раз в час) подъем и перемещение грузов вручную не более:
</p>

<ul>
	<li>
		для юношей 14 лет – 12 килограммов, 15 лет — 15 килограммов, 16 лет — 20 килограммов, 17 лет — 24 килограммов;
	</li>
	<li>
		для девушек 14 лет — 4 килограммов, 15 лет — 5 килограммов, 16 лет — 7 килограммов, 17 лет — 8 килограммов».
	</li>
</ul>

<strong>
	3. Выплата заработной платы два раза в месяц
</strong>
<p>
	Заработная плата лицам, не достигшим восемнадцати лет, должна выплачиваться не реже, чем два раза в месяц.
</p>
<strong>
	4. Отпуск 31 календарный день
</strong>
<p>
	Отпуск подросткам должен предоставляться на ежегодной основе. Его продолжительность не может быть меньше 31 календарного дня. Время отпуска подросток выбирает самостоятельно. В желанный отпуск подросток может пойти только по истечении шести месяцев беспрерывной работы в одной компании, разделив его на необходимые отрезки времени в течение года.
</p>

<p>
	Работодатель не имеет права отказывать в отпуске, предлагать денежную компенсацию и досрочно вызывать ребенка из отпуска.
</p>

<strong>
	5. Расторжение трудового договора после получения согласия государственной инспекции труда и комиссии по делам несовершеннолетних
</strong>
<p>
	Расторжение трудового договора по инициативе работодателя осуществляется согласно правилам, предусмотренным законодательством, и только после получения согласия государственной инспекции труда и комиссии по делам несовершеннолетних и защите их прав. В том случае, если работодатель обанкротился или компания прекратила свою деятельность, договор расторгается автоматически по причине ликвидации одной из сторон.
</p>

<strong>
	Если права нарушены работодателем
</strong>
<p>
	Если работодатель нарушил права работника младше 18 лет, ребенок, родители или лица, их заменяющие, имеют право обратиться в комиссию по трудовым спорам, если таковая создана в организации, в Государственную инспекцию труда, в прокуратуру или суд.
</p>
Список использованных источников:
<ul>
	<li>
		<a href="https://www.ya-roditel.ru/parents/i-have-the-right/661955/">Право подростка на трудовую деятельность: льготы, ограничения, документы</a>
	</li>
</ul>
<strong>
	Вопросы к лекции:
</strong>

<ul>
	<li>
		С какого возраста можно начинать работать?
	</li>
	<li>
		Условия работы с 14 лет.
	</li>
	<li>
		Сколько часов в неделю могут работать подростки?
	</li>
	<li>
		Обязательно ли нужно оформлять трудовой договор с несовершеннолетним работником? Подумайте, какие последствия могут быть если этого не делать.
	</li>
	<li>
		Куда можно обратиться в случае нарушения работодателем прав несовершеннолетнего работника?
	</li>
</ul>